/* You can add global styles to this file, and also import other style files */
.dashboard-body {
    top: 100px
}

.text-center {
    text-align: center;
}


.form-container {
    border: 1px solid #999999;
    width: 450px;
}

.box-header {
    margin-top: 20px;
}