<nav class="navbar navbar-default appNavbar">
  <div class="container">
      <div class="nav navbar-nav navbar-left">
          <a class="title-app"  href="#">SEISM Apps</a>
      </div>
      <div class="nav navbar-nav navbar-right navbar-right-panel">
        <div class="row" *ngIf="isLogin">
          <div class="col-sm-4" *ngIf="!hideAddButton">
              <button type="button" class="btn btn-outline-dark" (click)="onAdd()">Add</button>
          </div>
          <div class="col-sm-4">
            <button  type="button" class="btn nav-logout-btn" (click)="logout()">Logout</button>
          </div>
        </div>
        
        <div *ngIf="!isLogin">
          <app-google-signin></app-google-signin>
        </div>
      </div>
  </div>
</nav>
