
.appNavbar {
    margin: 10px;
    border-bottom: 1px solid black
}

.title-app {
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    font-size: 18px;
    letter-spacing: -0.434118px;
    color: #000000;
}
.navbar-right-panel {
    margin-left: 1px;
    margin-right: -50px;
    margin-top: 5px;
}

.nav-logout-btn {
    background: #9B9B9B;
    border-radius: 2px;
}
