<div class="container">
  <app-nav-bar></app-nav-bar>
  <div class="container dashboard">
      <div *ngIf="!isLogin" class="alert alert-warning" role="alert">
          <strong>Login!</strong> Please login to view Species list.
      </div>
      <div *ngIf="isLogin">List View</div>
  </div>
</div>
